<div id="<%= dom_id topic %>">
  <p>
    <strong>Question:</strong>
    <%= topic.question %>
  </p>

  <p>
    <strong>Messaging:</strong>
    <%= topic.messaging %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= topic.tags %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= topic.category %>
  </p>

</div>
