<p style="color: green"><%= notice %></p>

<%= render @topic %>

<div>
  <%= tag.br %>
  <%= link_to "Back to topics", topics_path %>
  <% 2.times do %>
    <%= tag.br %>
  <% end %>

  <%= button_to "Delete this topic", @topic, method: :delete %>
</div>
