<turbo-frame id="chat_name">
  <h1><%= @chat.display_name %></h1>
  <%= link_to "Edit Chat Name", edit_chat_path(@chat) %>
</turbo-frame>


<div class="wa-stack" style="max-width: 45ch; margin: 0 auto;">
  <div class="wa-stack">
    <div id="messages">
      <% @chat.messages.each do |message| %>
        <div class="message message-<%= message.role %>">
          <%= render "message_card", message: message %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= form_with model: [@chat], local: false do |form| %>
  <div class="mb-4">
    <%= form.label :content, "Your Message", class: "block mb-2" %>
    <%= form.text_area :content, 
        placeholder: "Ask me anything...", 
        class: "wa-textarea", 
        rows: 4 %>
  </div>

  <%= form.submit "Submit", class: "wa-button wa-button--primary" %>
<% end %>  
