<div id="<%= dom_id response %>">
  <p>
    <strong>Question:</strong>
    <%= response.question %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= response.response %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= response.tags %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= response.category %>
  </p>

</div>
