<!DOCTYPE html>
<html class="wa-theme-awesome wa-palette-bright wa-brand-blue wa-neutral-gray wa-success-green wa-warning-yellow wa-danger-red">
  <head>
    <title><%= content_for(:title) || "Clapback" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Web Awesome %>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.5/dist/styles/webawesome.css">
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.5/dist/styles/themes/awesome.css">
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.5/dist/styles/color/palettes/bright.css">
      <style>
    @import url('https://fonts.bunny.net/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Quicksand:wght@300..700&display=swap');
        :root {
          --wa-border-radius-scale: 1.5;
          --wa-border-width-scale: 2;
          --wa-space-scale: 1;
        }
      </style>
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.5/dist/webawesome.loader.js"></script>
    <script type="module" data-fa-kit-code="">
      import { setDefaultIconFamily } from 'https://early.webawesome.com/webawesome@3.0.0-beta.5/dist/webawesome.js';
      setDefaultIconFamily('classic');
    </script>

    <%# Font Awesome kit %>
    <script src="https://kit.fontawesome.com/dc8a27351f.js" crossorigin="anonymous"></script>
  </head>

  <body>

  <wa-page class="wa-light">

    <header slot="header">
      <div class="wa-split">
        <%= link_to root_path do %>
          <div class="wa-cluster">
            <%= image_tag("merck_logo.png", size: "50") %>
            <span class="wa-body-xl wa-font-weight-bold" style="--wa-font-weight-bold;">Clapback</span>
          </div>
        <% end %>
        <nav>
          <div class="wa-cluster">
            <%= link_to "Hello, #{Current.user.nickname}", edit_user_path(Current.user) if authenticated? %>
            <%= link_to "Login", new_session_path unless authenticated? %>
            <%= link_to "Log out", session_path, data: { turbo_method: :delete } if authenticated? %>
          </div>
        </nav>
      </div>
    </header>

    <nav slot="navigation">
      <%= link_to "Browse Responses", responses_path %>
      <%= link_to "Browse Chats", chats_path %>
    </nav>

    <main>
      <%= yield %>
    </main>

    <div slot="footer" style="display: flex; justify-content: center;">
      <span class="wa-body-l">Made with <i class="fa-solid fa-heart" style="color: #f61404;"></i> by <%= link_to "MRL IT", "https://mrlit.merck.com" %></span>
    </div>

  </wa-page>


  </body>
</html>
